body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    padding: 40px;
}

.calculator-box {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 10px;
}

input, select {
    width: 80%;
    padding: 8px;
}

button {
    padding: 8px 15px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resultBox {
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
}
